body
{
 font-family: Arial;
 font-size: 20px;
}

.tooltip
{
 position:relative;
 display: inline-block;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext
{
	visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: up;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	
}

#copyright
{
 background-color: black;
 color: white;
 font-size: 10px;
 text-align: center;
}
#snippet
{
 font-size: 20px;
 text-align: left;
}

#header-container
{
 font-family: Arial;
 font-size: 25px;
}

ul
{
 list-style-type: none;
 margin 0;
 padding 0;
 overflow: hidden;
 background-color: rgb(51, 51, 51);
}

li
{
 float: left;
 border-right: 1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

input 
{
	width:55px;
	border: 1px solid blue;
	border-radius: 15px;
	padding: 5px;
}
textarea
{
	width: 500px;
	height: 250px;
	border: 2px solid blue;
	border-radius:20px;
	padding: 5px;
}

